body, input {font-family: Helvetica, sans-serif;}
body, header, h1, img {margin: 0;}
#header, #content {margin: 0 auto; width: 1024px; clear: both;}
#header h1 {float: right;}


body {background-color: #bfbfbf; color: #333;}


label {display: block; float: left;}
input {clear: left; float: left;}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#page {
   min-height:100%;
   position:relative;
   margin: 0 auto;
   width: 1024px;
   background: #fff;
}
#header, #footer, #content {
    padding-left: 21px;
    padding-right: 39px;
    width: 964px;
}

#header {
   background: url(../images/bg_header.png) repeat-y; margin-bottom: 20px; height: 55px;
}
.ie5 #page, .ie6 #page {
   height:100%;
}

a {text-decoration: none; }
#footer a, #header a {color: #fff;}
#header ul li > a {text-shadow: 1px 1px 1px rgba(4, 90, 22, 0.72);}
#footer {font-size: 10px;}
#header {font-size: 11px;}
.dropdownx, #content {font-size: 12px; line-height: 1.5;}
input[type="submit"] {font-size: 10px; padding-left: 25px; padding-right: 25px; padding-top: 8px; padding-bottom: 5px;}
input[type="text"] {font-size: 13px;}
#header ul {padding-top: 11px;}
#header ul, #content > * {padding-left: 150px;}
#header ul {margin-left: -9px;}
#header ul li {padding: 0;}
#header ul li > a {padding: 9px;}
#header ul li.with_dropdown > a {background: url(../images/dropdown_arrow.png) no-repeat center right; padding-right: 32px;}
#header ul li:hover, .dropdown ul, input[type="submit"] {background-color: #6ccc08; -moz-border-radius: 5px;}

#header ul li a {display: block;}
.dropdownx {position: absolute; margin-top: 6px; margin-ldeft: -9px;}

.dropdown {display: none; position: absolute; background: red;}
/*
@font-face {
  font-family: PTSans;
  src: url("Collegiate.ttf");
}
.ribbon {
  font-family: Collegiate, sans-serif;
}
*/

.dropdownx a {clear: both;}

ul {list-style-type: none; margin: 0; padding: 0;}
.horizontal > li {float: left; margin-right: 16px;}
.horizontal > li, .dropdownx {padding: 9px;}
.horizontal > li > a  {font-weight: bold; }
.horizontal > li > a, input[type="submit"]  {text-transform: uppercase; }
#actions a {text-transform: none; font-weight: normal;}
#actions {font-family: "PT Sans"; font-size: 11px; }
h1 {background: url(../images/sitefoo.png) no-repeat; width: 68px; height: 55px; text-indent: -9999px; left: 10px;}

#header img {float: left;}

fieldset {margin: 0; padding: 0; border: 0;}

label {display: block;  margin-right: 14px;}
select {margin-bottom: 5px; margin-top: 5px;}
input[type="text"] {margin-bottom: 19px; margin-top: 3px;}
input[type="submit"] {margin-top: 25px; margin-bottom: 10px;}
fieldset {margin-top: 4px;}
label.full_width {clear: both;}
.half_width input {width: 175px;}
.full_width input {width: 376px;}
input {border: 1px solid #ccc; padding: 5px;}
input, label {letter-spacing: 1px;}
select {letter-spacing: 0px;}
.visibly_hidden {display: none;}

#content {
    padding-top: 20px;
   padding-bottom:284px;   /* Height of the footer + 40px */
}
#footer {
   position:absolute;
   bottom:0;
   height:244px;   /* Height of the footer */
   background:#000;
   color: #fff;
   border-bottom: 3px solid #64c00d;
}

#footer_left {width: 647px; float: left; background: url(../images/footer_separator.png) no-repeat top right;}
#footer_right {width: 257px; float: right; padding-left: 60px;}
#footer_left, #footer_right {xmin-height:244px;   /* Height of the footer */}

#actions {padding-top: 42px; height: 170px; padding-bottom: 10px; margin-bottom: 5px;}
#dactions {width: 646px; margin-top: 48px; clear: both; height: 100px;}
#actions > li {width: 154px; background-color: #1a1a1a; border: 1px solid #2b2b2b; margin-right: 16px; padding: 9px;}
#actions li.with_ribbon {background: url(../images/ribbon.png) no-repeat top right;}
#actions li a {padding-top: 93px; display: block; padding-left: 9px; padding-right: 9px;}
#actions li a {background-repeat: no-repeat; background-position: 50% 8px; }
#actions li.action_1 a {background-image: url(../images/action_1.png) }
#actions li.action_2 a {background-image: url(../images/action_2.png) }
#actions li.action_3 a {background-image: url(../images/action_3.png) }
#actions li.action_3 img {position: absolute; left: 534px; top: 38px;}

ul {padding: 0; margin: 0; list-style-type: none;}
ul.hor > li {float: left;}
#tweets {padding-top: 20px; height: 192px; padding-bottom: 10px; margin-bottom: 5px;}
#tweets li {padding-bottom: 25px;}

#nav li {margin-right: 40px;}

body {font-family: Helvetica, sans-serif; font-size: 12px; }
#tweets p {color: #4ba80f; font-weight: bold; text-transform: uppercase; display: block; background: url(../images/bird.png) no-repeat top left; min-height: 17px; padding-left: 40px; padding-top: 4px; border-bottom: 1px dotted #5c5c5c; padding-bottom: 10px;}
#tweets .date {color: #888; font-size: 10px; line-height: 2;}
a {color: #fff; text-decoration: none;}
#copyright {font-size: 10px; font-style: oblique;}
#nav {font-size: 10px; font-weight: bolds; text-transform: uppercase;}
#actions li a {font-family: "PT Sans"; font-size: 11px; }

#header, .dropdownx, input {-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
  .tipsy { font-family: "PT Sans"; text-transform: lowercase; padding-left: 20px; padding-right: 20px; font-style: italic; font-size: 14px; color: #fff; -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
/* thanks to http://blog.fakedarren.com/2010/01/cross-browser-css-gradients/ */
 
    /* fallback (Opera) */
    background: #008800;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #606060, #101010);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#606060), to(#101010));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#606060', EndColorStr='#101010', GradientType=0);
  }
  
    input[type="text"] { 
      /* fallback (Opera) */
      background: #fff;
      /* Mozilla: */
      background: -moz-linear-gradient(top, #ffffff, #efefef);
      /* Chrome, Safari:*/
      background: -webkit-gradient(linear,
                  left top, left bottom, from(#ffffff), to(#efefef));
      /* MSIE */
      filter: progid:DXImageTransform.Microsoft.Gradient(
                  StartColorStr='#ffffff', EndColorStr='#efefef', GradientType=0);
    } 
    
    input[type="submit"] { text-shadow: 1px 1px 1px #fff;
      /* fallback (Opera) */
      background: #fff;
      /* Mozilla: */
      background: -moz-linear-gradient(top, #ffffff, #cfcfcf);
      /* Chrome, Safari:*/
      background: -webkit-gradient(linear,
                  left top, left bottom, from(#ffffff), to(#cfcfcf));
      /* MSIE */
      filter: progid:DXImageTransform.Microsoft.Gradient(
                  StartColorStr='#ffffff', EndColorStr='#cfcfcf', GradientType=0);
    }